.text {
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    padding-top: 50px;
    color: #71207dff;
}

.aboutImg {
    margin-top: 20px;
    width: 100%;

}
figcaption {
    margin: 10px 0 0 0;
    font-family: Arial;
    font-weight: bold;
    color: #ffe1f5;
    font-size: 1.25rem;
    
}
figure {
    padding: 5px;
    text-align: center;
}



body {
    font-family: 'Poetsen One', sans-serif;
}
nav.navbar, footer {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer {
    
}

