body {
    font-family: 'Lato', sans-serif;
}
nav.navbar {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 20px; */
    border-radius: 6px;
    margin-bottom: 50px;
    overflow: hidden;
    background-image: linear-gradient(255deg, #896790ff,
        #bfadccff,
        #dfbbdaff,
        #f2bae4ff,
        #ffe1f5ff);
}
.post:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;
}
.main {
    padding: 30px 35px 15px 35px;
    display: flex;
    flex-direction: column;
}
hr {
    margin: 50px;
}
.container {
    padding: 30px 16px 30px 16px;
}
.blogImage {
    width: 100%;
}
.btitle {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}


.centerImage {
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 700px) {

    .blogImage {
        width: 60%;
    }
    
}