body {
    font-family: 'Lato', sans-serif;
}
nav.navbar {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin: 27px;
    text-align: center;
    font-size: 30px;
}
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    margin: 20px;
    text-align: center;
    margin-bottom: 32px;

}
.profile > h1 {
    padding: 10px 0px 10px 0px;
}
.title {
    padding: 0px 10px 10px 15px;
}
#meetteam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#bio {
    margin: 30px 50px 30px 50px;
    font-size: larger;

}