.subsectext {
    text-align: center;
    color:#2b292e;
    margin: 30px;
    font-size: x-large;
}
html, body {
    overscroll-behavior-x: none;
}
#startler {
    z-index: -1;
    background-image: url("../img/HomescreenIMG.jpg");
    position: relative;
    height: 50vh;
    
    /* Parallax */
    background-attachment: fixed;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#startlerText {
    background-color: lavender;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    text-align: center;
    /* text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
    /* text-shadow: rgba(255,162,0,0.9) 0px 0px 39px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode:screen;
}
.sm {
    /* Change color of button */
    background-color: #1B4DE4;
    border: 0px;
    color: white;
    border-radius: 16px;
    padding: 8px 14px;
    font-weight: 700;
    margin: 20px 0px 50px 5px;
}

body {
    font-family: 'Poetsen One', sans-serif;
}
nav.navbar, footer {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#blogs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}
/*       */
.blogphoto {
    border-radius: 6px;
    width: 300px;

}
.blogtext {
    margin-top: 20px;
}
.recentblogs {
    margin-bottom: 30px;
}


.whydonate {
    margin: 0px 30px 0px 30px;
    line-height: 1.5;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 654px) {
    #startlerText {
        width: 75%;
        font-size: 10vw;
        
    }
    #startler {
        background-position-x: -350px;
        background-position-y: -100px;
    }

}
@media only screen and (max-width: 760px) {
    .disappear {
        display: none;
    }
    
}
